version: '3'

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    networks:
      - shunqa-network
    depends_on:
      - mongo
    environment:
      MONGO_URL: ${MONGO_URL}
      ELASTIC_URL: ${ELASTIC_URL}
      ELASTIC_USER: ${ELASTIC_USER}
      ELASTIC_PASSWORD: ${ELASTIC_PASSWORD}

  frontend:
    build: ./frontend
    ports:
      - "3003:3000"
    networks:
      - shunqa-network
    environment:
      NUXT_APP_CDN_URL: ${NUXT_APP_CDN_URL}

  nginx:
    image: nginx
    ports:
      - "25565:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    networks:
      - shunqa-network

  mongo:
    image: mongodb/mongodb-community-server:6.0-ubi8
    networks:
      - shunqa-network
    volumes:
      - type: bind
        source: ./data
        target: /data/db
        bind:
          create_host_path: true
    environment:
      MONGODB_INITDB_ROOT_USERNAME: ${MONGODB_INITDB_ROOT_USERNAME}
      MONGODB_INITDB_ROOT_PASSWORD: ${MONGODB_INITDB_ROOT_PASSWORD}

networks:
  shunqa-network:

volumes:
  nginx-conf: