{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block headline %}

{% endblock %}
{% block content %}

<form action="/qa/" method = "POST">

    <div class="form-group">
        <h5><label for="query">Kérdés</label></h5>
        <input class="form-control col-lg-10" type = "text" name = "query" value="{{query if query else ''}}" />
        <input class="form-control col-lg-10" type = "text" name = "size" value="{{size if size else '1'}}" />
    </div>
    <input class="btn btn-primary mb-3" type = "submit" value = "Elküld" />
</form>


{% if data %}
{% for line in data %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Válasz</h5>
        <p class="card-text">{{line.answer | safe}}</p>
    </div>
</div>

<div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne{{line.id}}" aria-expanded="true" aria-controls="collapseOne">
            Részletek
          </button>
        </h5>
      </div>
  
      <div id="collapseOne{{line.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">

            <h5 class="card-title">Eredeti kontextus:</h5>
            <p class="card-text">{{line.official_context[:line.start] | safe}}<span style="background: #006fff2b; font-weight: bold; border-radius: 10px; padding: 4px">{{line.official_context[line.start:line.end] | safe}}</span>{{line.official_context[line.end:] | safe}}</p>

            <h5 class="card-title">Elastic pontszám:</h5>
            <p class="card-text">{{line.elastic_score | safe}}</p>

            <h5 class="card-title">Modell pontszám:</h5>
            <p class="card-text">{{line.model_score | safe}}</p>
        </div>
      </div>
    </div>
  </div>

{% endfor %}
{% endif %}
{% endblock %}

