{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block headline %}

{% endblock %}
{% block content %}
<div class="jumbotron pb-4">
    <form action="/qa/" method = "POST">

        <h1 class="display-4">ShunQA</h1>
        <p class="lead">Szeged Hungarian Question Answering vagyis Sonkaaaaa</p>
        <hr class="my-4">
        <div class="form-row">
            <div class="col-lg-10">
                <label for="question">Mi a kérdésed hozzám?</label>
                <input id="question" class="form-control" type="text" placeholder="Mikor építették a vízlépcsőket a Duna felső szakaszán?" name="query" value="{{query if query else ''}}" />
            </div>
            <div class="col-lg-2">
                <label for="size">Méret</label>
                <input id="size" class="form-control" type="text" placeholder="Mélység" name="size" value="{{size if size else '10'}}" />
            </div>
        </div>
        <div class="form-row mt-2">
            <div class="col-lg-12">
                <label for="elastic-table">Elastic tábla kiválasztás:</label>
                <select name="elastic" class="form-control" aria-label="Default select example" id="elastic-table">
                    <option value="milqa">milqa</option>
                    <option value="milqa_w_lemma_w_official_context" selected>milqa_w_lemma_w_official_context</option>
                    <option value="word_war_2_wikidump">word_war_2_wikidump</option>
                </select>
            </div>
        </div>
        <div class="form-row mt-4">
            <div class="col-lg-12 text-right">
                <input class="btn btn-primary" type="submit" value="Elküld" />
            </div>
        </div>
    </form>
</div>

{% if data %}
{% for line in data %}

<div id="accordion" class="mb-3">
    <div class="card">
      <div class="card-header" id="headingOne">
          <b>Válasz:</b>
          <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne{{line.id}}" aria-expanded="true" aria-controls="collapseOne">
                {{line.answer | safe}}
              </button>
          </h5>
      </div>

      <div id="collapseOne{{line.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">

            <h5 class="card-title">Eredeti kontextus:</h5>
            <p class="card-text">{{line.official_context[:line.start] | safe}}<span style="background: #006fff2b; font-weight: bold; border-radius: 10px; padding: 4px">{{line.official_context[line.start:line.end] | safe}}</span>{{line.official_context[line.end:] | safe}}</p>

            <h5 class="card-title">Elastic pontszám:</h5>
            <p class="card-text">{{line.elastic_score | safe}}</p>

            <h5 class="card-title">Modell pontszám:</h5>
            <p class="card-text">{{line.model_score | safe}}</p>
        </div>
      </div>
    </div>
  </div>

{% endfor %}
{% endif %}
{% endblock %}

